---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION, HOMEPAGE_URL } from '../consts';
import Body from '../components/Body.astro';
import { IoArrowForward } from 'react-icons/io5/index.js';
import Content from '../components/Content.astro';
import Tophead from '../components/Tophead.astro';
import { Image } from '@astrojs/image/components'

const posts = (await Astro.glob('../content/blog/*.md')).sort(
  (a: any, b: any) =>
    new Date(b.frontmatter.createdAt).valueOf() -
    new Date(a.frontmatter.createdAt).valueOf()
)

---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<Body>
		<Header title={SITE_TITLE} />
			<main class="pt-[56px]">
				<Tophead />
				<h1 class="font-mplus text-center">Protecting Your Eyesight While Using Computers.
				</h1>
				<Content>
					<section>
						<p class="mb-8 p-10">
						Welcome to our website dedicated to promoting eye health for individuals who use computers regularly. Our site is dedicated to providing information, tips, and resources to help you maintain healthy eyes while using computers.
						<a class="inline-flex items-center gap-1 indent-1 text-orange-500" href={HOMEPAGE_URL}>Learn more about us.<IoArrowForward className="inline" />
						</a>
						</p>
					</section>

					
					<section>
						<ul class="grid grid-cols-1 md:grid-cols-2 gap-4">
							{
							  posts.map(post => (
								<li class="text-center mb-4">
								  <a href={post.url}>
									<Image
									  class="border border-slate-300 dark:border-zinc-700 rounded-xl"
									  src={post.frontmatter.heroImage}
									  width={720 * 2}
									  aspectRatio={2.0}
									  alt="Thumbnail"
									/>
									<div class="mt-3 text-xl font-bold">
									  {post.frontmatter.title}
									</div>
									{post.frontmatter.description && (
									  <div class="opacity-70">
										{post.frontmatter.description}
									  </div>
									)}
								  </a>
								</li>
							  ))
							}
						  </ul>
					</section>





					
		</main>
		<Footer />
	</Body>
</html>
